* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #323237;
    color: rgb(159, 168, 175);
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 3rem;
    gap: 2.5rem;
}

footer {
    margin-top: auto;
}